#server-type{
    display: block;
    border-color: beige;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
}
.connected-metrics-server{
    background-color: #0e704a;
    border-color: #c3e6cb;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.aui-icon-refresh{
    color: #1b3225;
    border: 1px solid #1b3225;
    font-size: x-large;
    background-color: #1b3225;
}