#server-type{
    display: block;
    border-color: beige;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
}
.connected-metrics-server{
    background-color: #0e704a;
    border-color: #c3e6cb;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
#toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}