<html lang="html">
<head>
    <title>$i18n.getText("application.name")</title>
    <meta charset="UTF-8">
    <meta name="decorator" content="atl.admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    $webResourceManager.requireResource("com.ddlabs.atlassian.dd-bamboo-metrics:dd-bamboo-metrics-resources-configure")
</head>
<body>
<div id="page_wrapper">
    <h1>$i18n.getText("application.configuration.header")</h1>
</div>
<div class="oauth-form-setup">
    <div class="aui">
        <br>
        <h2>$i18n.getText("application.servers.add")</h2>
    </div>
    <form class="aui" id="metrics-server-config" method="post">
        <div class="field-group">
            <label for="server-type">Product:</label>
            <select id="server-type">
                <option selected="" value="none">Choose a Server</option>
                <option value="DatadogMetricServer">Datadog</option>
            </select>
        </div>
        <div class="field-group">
            <label for="server-name">$i18n.getText("application.servers.name")
            <span class="aui-icon icon-required">(required)</span></label>
            <input class="text medium-long-field" type="text" id="server-name" name="server-name"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description">$i18n.getText("application.servers.name")</div>
        </div>
        <div class="field-group">
            <label for="server-description">$i18n.getText("application.servers.description")
                <span class="aui-icon icon-required">(required)</span></label>
            <input class="text medium-long-field" type="text" id="server-description" name="d  escription"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description">$i18n.getText("application.servers.description")</div>
        </div>
        <div class="field-group">
            <label for="clientKey" id="api-key-description"><span>Client ID</span></label>
            <input class="text medium-long-field" type="text" id="clientKey" name="clientKey"
                   data-aui-validation-field  data-aui-validation-required="true" autocomplete="true">
            <div class="description" id="api-key-description">Client ID</div>
        </div>
        <div class="field-group">
            <label for="clientSecret" id="client-secret-description">Client Secret</label>
            <input class="text medium-long-field" type="text" id="clientSecret" name="clientSecret"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description" id="client-secret-description">Client Secret</div>
        </div>
        <div class="field-group">
            <label for="oauth-endpoint">Authorization Endpoint</label>
            <input class="text medium-long-field" type="text" id="oauth-endpoint" name="oauth-endpoint"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description">Authorization Endpoint</div>
        </div>
        <div class="field-group">
            <label for="api-endpoint">API Endpoint</label>
            <input class="text medium-long-field" type="text" id="api-endpoint" name="api-endpoint"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description api-key-description">API Endpoint</div>
        </div>
        <div class="field-group">
            <label for="token-endpoint">Token Endpoint</label>
            <input class="text medium-long-field" type="text" id="token-endpoint" name="token-endpoint"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description">Token Endpoint</div>
        </div>
        <div class="field-group">
            <label for="redirect-url">Redirect URL</label>
            <input class="text medium-long-field" type="text" id="redirect-url" name="redirect-url"
                   data-aui-validation-field  data-aui-validation-required="true">
            <div class="description">Redirect URL</div>
        </div>
        <input type="hidden" name="atl_token" id="atl_token" value="$atl_token"/>
        <div class="buttons-container">
            <div>
                <div class="select-auth-method"></div>
                <aui-toggle id="use-api-key-pass-or-oauth"
                label="API key or Oauth"></aui-toggle>
            </div>
            <div class="aui-message aui-message-info">
                <p class="title">Note:</p>
                <p id="server-type-text"></p>
                <button type="submit" value="Save" class="aui-button
                aui-button-primary" id="add-metrics-server">Save Server</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>